/* systeme de variable */
:root {
    --color-green: #76c38f;
    --color-white: #fff;
    --color-grey-1: #979797;
    --color-grey-2: #303030;
    --color-grey-3: #2b2b2b;
    --color-grey-4: #222;
    --color-grey-5: #151515;
    --color-grey-6: #333333;
    --color-bordeaux-dark: #290000;
    --color-bordeaux-light: #660000;
    --color-black: #000000;
    
}

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* structure des containers */

.container-large{
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
}


/*systeme de flex*/

.d-flex{
    display: flex;
}

.f-dir-row{
    flex-direction: row;
}

.f-dir-col{
    flex-direction: column;
}

.f-wrap{
    flex-wrap: wrap;
}
.f-space-between{
    justify-content: space-between;
}

.f-jc-center{
    justify-content: center;
}

    /* partie header */


    /* partie content */
    

    /* partie footer */


.bg-footer{
    background-color: #303030;
    height: 388px;
    border-bottom: 1px solid black;
}

.col-footer-2{
    width: 15%;
    height: 306px;
    
}


    /* titres*/
.h3-footer{
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 30px;
}

.titre-post-title{
    font-size: 13px;
    color: #76c38f;
    font-weight: normal;
}

.p-footer
{
    font-size: 13px;
    color: #979797;
    font-weight: normal;
    line-height: 20px;
    width: 91%;
}