/* systeme de variable */
:root {
    --color-green: #76c38f;
    --color-white: #fff;
    --color-grey-1: #979797;
    --color-grey-2: #303030;
    --color-grey-3: #2b2b2b;
    --color-grey-4: #222;
    --color-grey-5: #151515;
    --color-bordeaux-dark: #290000;
    --color-bordeaux-light: #660000;
    --color-black: #000000;
    
}
/*systeme couleur*/
.color-white {
color: var(--color-white);
}

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* structure des containers */

.bg-color-bordeaux-dark{
    background-color: var(--color-bordeaux-dark);
}


/* container */

.container-large{
    width: 100%;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}




/*systeme de flex*/

.d-flex{
    display: flex;
}

.f-dir-row{
    flex-direction: row;
}

.f-dir-col{
    flex-direction: column;
}

.f-wrap{
    flex-wrap: wrap;
}
.f-space-between{
    justify-content: space-between;
}

    /* partie header */
header{
    border-top:5px solid var(--color-green);
    height: 600px;

}


ul {
    list-style: none;
    margin-left: 1rem;
    }

.logo{
    margin-top : 37px;
    margin-bottom: 0;
    font-size: 28px;
}


.icon{
    font-size: 11px;
    color: #979797;
    margin: 0;
}

.slid{
    margin-top: 40px;
}

.btn-green {
    background-color: var(--color-green);
    color: var(--color-white);
    border-radius: 10px;
    padding: 11px 20px 9px 20px;

}
.partioneslid{
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
}


.imgslid img{
    border: solid 15px grey;
    border-radius: 1000px;
    margin-left: 40%;
}











.font-size-13{
    font-size: 13px;
    font-weight:400;
}
    /* partie content */
    


    /* partie footer */

















































































































































/*CHLOE*/
    /*Menu*/
    .t-underline-none{
        text-decoration: none;
    }

    
    .btn-hover-green{
        color: var(--color-white);
    
    }
    .btn-hover-green:hover{
        background-color: var(--color-green);
        color: var(--color-white);
        display: inline;
        border-radius: 10px;    
    }

    .btn-grey-hover:hover{
     background-color: var(--color-grey-2);
     color: var(--color-green);

    }

/*margin, padding*/
.margin-top-50{
    margin-top:50px;
}
.margin-top-20{
    margin-top:20px;
}
.margin-right-2{
    margin-right: 2px;
}

.padding-13-20{
    padding: 11px 20px 9px 20px;
}
/*Media queries*/
@media screen and (min-width : 992px){

}
@media screen and (min-width : 768px) and (max-width:991px){

}
@media screen and (min-width : 576px)  and (max-width:767px){

}
@media screen and (min-width : 575px){

}