/* systeme de variable */
:root {
    --color-green: #76c38f;
    --color-white: #fff;
    --color-grey-1: #979797;
    --color-grey-2: #303030;
    --color-grey-3: #2b2b2b;
    --color-grey-4: #222;
    --color-grey-5: #151515;
    --color-bordeaux-dark: #290000;
    --color-bordeaux-light: #660000;
    --color-black: #000000;
    
}
/*systeme couleur*/
.color-white {
color: var(--color-white);
}

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* structure des containers */

.bg-color-bordeaux-dark{
    background-color: var(--color-bordeaux-dark);
}


/* container */

.container-large{
    width: 100%;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}




/*systeme de flex*/

.d-flex{
    display: flex;
}

.f-dir-row{
    flex-direction: row;
}

.f-dir-col{
    flex-direction: column;
}

.f-wrap{
    flex-wrap: wrap;
}
.f-space-between{
    justify-content: space-between;
}

    /* partie header */
header{
    border-top:5px solid  #76c38f;
    height: 600px;

}

ul {
    list-style:none;
    margin-left:1rem;
    }

.logo{
    margin-bottom: 0;
}


.icon{
    font-size: x-small;
    color: #979797;
    margin: 0;
}

.slid{
    margin-top: 40px;
}

.partioneslid{
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}
.btn-green{
    background-color: #76c38f;
    color: white;
    display: inline;
    border-radius: 10px;
    padding: 5px;

}
.imgslid {
    margin-left: 30%;
}

.imgslid img{
    border: solid 15px grey;
    border-radius: 1000px;
}









    /* partie content */
    

    /* partie footer */

/*Media queries*/
@media screen and (min-width : 992){

}
@media screen and (min-width : 768) and (max-width:991){

}
@media screen and (min-width : 576)  and (max-width:767){

}
@media screen and (min-width : 575){

}